
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form method="post" enctype="application/x-www-form-urlencoded">
    <input type="text" name="UserName" /><br />
    <input type="password" name="Password" />
    <input type="submit" value="提交" />
</form>

